<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>結果送信完了ページ</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
</head>

<body>
    <div style="background-color: #AEFFBD; padding: 1px 11px;">
    <h2 style="color: green">実験へのご協力ありがとうございました。</h2>
    </div>
    
    <b><p>[報酬の受け取りについて]</p></b>
    <p> 以下のコードを指定した回答欄に入力して下さい。</p>
    <p><textarea id="complete_code" readonly></textarea><br><button id="copy_button">数字をコピーする</button></p>
    <p>表示には数秒かかる場合があります。</p>
    <p>長時間待ってもコードが表示されない場合、URLの末尾の「id=」から始まる数字をコードとしてご利用ください。</p>
    <p>間違ったコードを入力、または入力が無い場合は報酬をお支払いできませんのでご了承ください。</p>

<script type="text/javascript">
function copy(){
    document.getElementById('complete_code').select();
    return document.execCommand("copy");
}

var text = document.getElementById('complete_code');
text.readonly = false;
text.value = window.location.search.split('=')[1];
text.readonly = true;
document.querySelector("#copy_button").addEventListener("click", copy);
</script>
</body>

</html>